html,
body {
  min-height: 100%;
  scrollbar-gutter: stable;
}

body {
  background-color: var(--background-50);
  color: var(--text-950);
}

.hidden {
  display: none;
}

::selection {
  color: var(--text-50);
  background: var(--primary-500);
}

.divider {
  width: 100%;
  height: 1px;
  margin-block: 1rem;
  background-color: #000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  img {
    width: 25px;
    filter: grayscale(0.5);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #a3a3a37a;
  margin-bottom: 1rem;
  h1 {
    margin-block: 0 1rem;
  }
}

.top {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  span {
    font-size: 0.8rem;
  }
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
  min-height: 100px;
  transition: 0.2s;
  &:hover {
    opacity: 100%;
    background-color: #bcc4c4;
  }
  &:active {
    background-color: #a7a8a8;
  }
}
