.suggestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  gap: 0.5rem;
  display: flex;
}

.waiting,
.approved,
.declined {
  padding: 0.2rem 0.7rem;
  border-radius: 50vmax;
  width: fit-content;
  color: #000;
}

.waiting {
  background-color: rgb(255, 255, 164);
}
.declined {
  background-color: rgb(253, 150, 150);
}
.approved {
  background-color: rgb(155, 255, 155);
}

.empty {
  margin: 0;
}
