:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
  padding-block: 1rem;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;
  backdrop-filter: blur(0.5rem);
  transition: 0.2s;
  background-color: color-mix(in srgb, #000, transparent 30%);
  box-shadow: -10px 10px 40px 0px #00000010;
}

button {
  color: #fff !important;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  img {
    width: 25px;
  }
}
