<header>
  <div class="logo" routerLink="/home">
    <img src="/assets/logo.png" /><span>NutriPedia</span>
  </div>
  <section class="searchbox-wrapper"></section>
  <section class="nav">
    <button mat-button routerLink="/home/blog">
      <mat-icon>newspaper</mat-icon>
      Blog
    </button>
    @if (notifications$ | async; as notifications) {
    <button
      mat-icon-button
      [attr.data-badge]="notifications.unseen"
      [matMenuTriggerFor]="notificationsMenu"
      (click)="onOpenNotifications(notifications)"
    >
      <mat-icon>notifications</mat-icon>
    </button>
    <mat-menu #notificationsMenu="matMenu">
      <div class="notifications">
        @for (notification of notifications.last; track notification.id) {
        <article
          class="notification"
          routerLink="/home/blog/article/{{ notification.articleId }}"
        >
          <b>{{ notification.date | date : "medium" }}</b>
          <span>{{ notification.content }}</span>
        </article>
        }
        <button mat-button routerLink="/home/user/notifications">
          <mat-icon>apps</mat-icon>
          See Notifications Page
        </button>
      </div>
    </mat-menu>
    }
    <button mat-icon-button (click)="onToggleTheme()">
      <mat-icon>dark_mode</mat-icon>
    </button>
    <button mat-icon-button routerLink="/home/user">
      <mat-icon>account_circle</mat-icon>
    </button>
  </section>
</header>
