header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100vw;
  background-color: var(--background-100);
  height: var(--header-height);
  padding: 0 1.5rem 0 1rem;
  top: 0;
  z-index: 1000;
  &::after {
    content: "";
    width: 100%;
    position: absolute;
    height: 20px;
    left: 0;
    bottom: -20px;
    z-index: 9999999999;
    background: linear-gradient(180deg, var(--background-100), transparent);
  }
}

mat-progress-bar {
  position: absolute;
  left: 0;
  top: 0;
}

.logo {
  width: fit-content;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
}

.notifications {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.notification {
  display: flex;
  flex-direction: column;
  background-color: var(--background-100);
  padding: 1rem;
  box-sizing: border-box;
  cursor: pointer;
}

[data-badge]::after {
  display: grid;
  place-items: center;
  content: attr(data-badge);
  position: absolute;
  width: 18px;
  height: 18px;
  top: 4px;
  right: 5px;
  font-size: 0.7rem;
  border-radius: 50%;
  font-weight: bolder;
  color: #fff;
  background-color: red;
}

[data-badge="0"]::after {
  display: none;
}
