@use "@angular/material" as mat;
@include mat.core();

$frontend-primary: mat.define-palette(mat.$indigo-palette);
$frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$frontend-warn: mat.define-palette(mat.$red-palette);

$frontend-theme: mat.define-dark-theme(
  (
    color: (
      primary: $frontend-primary,
      accent: $frontend-accent,
      warn: $frontend-warn,
    ),
  )
);

[data-theme="dark"] {
  @include mat.all-component-colors($frontend-theme);
  --text-50: #080d12;
  --text-100: #0f1924;
  --text-200: #1f3347;
  --text-300: #2e4c6b;
  --text-400: #3d668f;
  --text-500: #4d7fb3;
  --text-600: #7099c2;
  --text-700: #94b2d1;
  --text-800: #b8cce0;
  --text-900: #dbe6f0;
  --text-950: #edf2f7;

  --background-50: #080f11;
  --background-100: #111e22;
  --background-200: #213b45;
  --background-300: #325967;
  --background-400: #42778a;
  --background-500: #5394ac;
  --background-600: #75aabd;
  --background-700: #98bfcd;
  --background-800: #bad4de;
  --background-900: #ddeaee;
  --background-950: #eef4f7;

  --primary-50: #070d13;
  --primary-100: #0d1b26;
  --primary-200: #1a354c;
  --primary-300: #275072;
  --primary-400: #346b98;
  --primary-500: #4186be;
  --primary-600: #679ecb;
  --primary-700: #8db6d8;
  --primary-800: #b3cee5;
  --primary-900: #d9e7f2;
  --primary-950: #ecf3f8;

  --secondary-50: #060d14;
  --secondary-100: #0b1b28;
  --secondary-200: #163650;
  --secondary-300: #225177;
  --secondary-400: #2d6c9f;
  --secondary-500: #3887c7;
  --secondary-600: #609fd2;
  --secondary-700: #88b7dd;
  --secondary-800: #afcfe9;
  --secondary-900: #d7e7f4;
  --secondary-950: #ebf3f9;

  --accent-50: #050e15;
  --accent-100: #0a1b29;
  --accent-200: #133653;
  --accent-300: #1d517c;
  --accent-400: #276ca5;
  --accent-500: #3087cf;
  --accent-600: #5a9fd8;
  --accent-700: #83b7e2;
  --accent-800: #accfec;
  --accent-900: #d6e7f5;
  --accent-950: #eaf3fa;
}
