:host {
  display: flex;
  flex-direction: column;
  width: 16rem;
  gap: 1rem;
  background-color: var(--background-100);
  padding: 1rem;
  box-sizing: border-box;
  height: fit-content;
  position: sticky;
  top: 5rem;
}

h2 {
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  div {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 12.8rem;
  }
}
