.actions {
  display: flex;
  gap: 0.5rem;
}

article {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--primary-100);
  padding: 1rem;
  gap: 2rem;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
