<mat-form-field appearance="outline">
  <mat-label>{{ name }}</mat-label>
  <mat-chip-grid #chipGrid>
    @for (item of items; track item) {
    <mat-chip-row
      (removed)="remove(item)"
      [editable]="true"
      (edited)="edit(item, $event)"
    >
      {{ item.name }}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
    }
    <input
      placeholder="New item..."
      #itemsInput
      [formControl]="itemCtrl"
      [matChipInputFor]="chipGrid"
      [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
    >
      @for (item of filteredItems | async; track item) {
      <mat-option [value]="item">{{ item }}</mat-option>
      }
    </mat-autocomplete>
  </mat-chip-grid>
</mat-form-field>
